.features {
	font-family: 'Roboto', sans-serif;


	&__title {
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
	}

	&__cards {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		margin-bottom: 3rem;
	}

	&__item {
		text-align: center;
		flex-basis: 25%;
		@media screen and (max-width: 420px) {
			flex-basis: 100%;
		}
	}

	&__text {
		font-family: 'Sunflower', sans-serif;
		font-weight: 500;
		font-size: 18px;
		color: #305F6D;
		width: 60%;
		margin: 1rem auto;
	}

}
