.footer {
  background: #485053;
  padding: 3rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: center;
  }

  &__logo {
    @media screen and (max-width: 420px) {
      flex-basis: 100%;
    }
  }

	&__links {
    display: flex;
    @media screen and (max-width: 420px) {
      flex-basis: 60%;
      margin: 1rem auto 0 auto;
      justify-content: space-around;
    }
	}

	&__social {
    opacity: 0.3;
    margin-left: 1rem;
    @media screen and (max-width: 420px) {
      margin-left: 0;

    }
	}

}
