@mixin container-resize {
  padding-left: 15%;
  padding-right: 15%;
  @media screen and (max-width: 1400px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media screen and (max-width: 1200px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
