.title {
  font-family: 'Sunflower', sans-serif;
  font-size: 42px;
  width: fit-content;
  font-weight: 700;

  @media screen and (max-width: 321px) {
    font-size: 38px;
  }

  &--main {
    padding-top: 0;
  }
}
